.navbar_main {
    background: #5a4586;
    background: linear-gradient(180deg, #5a4586 0%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    position: fixed;
    left: 0;
    padding: 2.5rem;
}

.navbar_main section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_logo {
    border: 7px solid transparent;
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar_main section h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 0 0 !important;
}

.navbar_main section p {
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 1rem 0 !important;
}

.navbar_main ul {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar_main li {
    list-style: none;
    margin-top: 1rem;
}

.navbar_main svg {
    font-size:3.5rem;
    color: #fff;
    margin: 0.7rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.navbar_main svg:hover {
    transform: scale(1.1);
}

.navbar_main button {
    border: 1px solid rgba(170, 170, 170, 0.2);
    position: absolute;
    bottom: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0  .3rem;
    padding: 0.4rem 0.6rem;
    background: none;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(255, 255, 255);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.navbar_main button:hover {
    background: #fff;
    opacity: 1;
    color: #000;
}

.navbar_main button svg {
    font-size: 1rem;
    margin: 0 !important; 
    color: #fff;
}

.navbar_main button:hover svg {
    color: #000;
}