.navbar_main {
    background: #5a4586;
    background: #5a4586;
    background: linear-gradient(180deg, #5a4586 35%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    left: 0;

}